.container{
  position: relative;
  min-height: 1200px;
}
.title {
  text-align: center;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #DCDCDC;
  height: 45x;
  line-height: 45px;
  padding-left: 30px;
}   

.login-content{
  margin-top: 70px;
}

.other-login {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
}

.login-header {  
  display: flex;
  align-items: center;
}

.header__tip {
  width: 200px;
  text-align: center;
  color: #999;
  font-size: 20px;
}

.header__line {
  flex: 1;
  height: 1px;
  background: #ddd;
}

.login__application {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}

.application {
  text-align: center;
  margin-top: 20px;
}

.application__tip {
  font-size: 20px;
}