.container{
  position: relative;
  height: 100%;
}
.title {
  text-align: center;
  font-size: 20px;
  color: #333;
  height: 45x;
  line-height: 45px;
  padding-left: 10px;
}   

.login-content{
  margin-top: 10vh;
}

.other-login {
  margin-top: 15vh;
}

.login-header {  
  display: flex;
  align-items: center;
}

.header__tip {
  width: 200px;
  text-align: center;
  color: #999;
  font-size: 16px;
}

.header__line {
  flex: 1;
  height: 1px;
  background: #ddd;
}

.login__application {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  line-height: 0.7em;
}

.application {
  text-align: center;
  margin-top: 20px;
}

.application__tip {
  font-size: 16px;
}

.qqLoginBtn{
  display: none;
}