.toutiao__container{
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.toutiao__title{
  width: 45px;
  height: 45px;
  background: pink;
  display: flex;
  align-items: center;
  text-align: center;
}
.toutiao-item{
  background: palegreen;
  height: 45px;
}
.carousel__empty{
  width: 100%;
  padding-top: 75%; 
}

.carousel{
  ul{
    padding-top: 75% !important;
  }
}
