
:global{
  .swiper-page{
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    .slider-decorator-0,.slider-decorator-1{
      display: none !important;
    } 
  } 
}

.swiper-block{
  width: 100%;
  height: 200px;
  box-sizing: border-box;
} 


